.env
volume/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.backup.lock
terraform.tfstate.backup.lock.info
terraform.tfstate.backup.lock.info.lock
terraform.tfstate.backup.lock.info.lock.info
terraform.tfstate.backup.lock.info.lock.info.lock
terraform.tfstate.backup.lock.info.lock.info.lock.info